<!-- <div class="container">
    <div class="row">
        <div class="col-9">
            <p>{{ 'test' | translate }}</p>
        </div>

        <div class="col-1">
            <button mat-button 
                (click)="changeLanguage()" 
                class="{{this.lang}}">
                    <mat-icon>language</mat-icon>
                    {{ this.langPrompt }}
            </button>
        </div>

    </div>
</div> -->

<mat-sidenav-container>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <mat-sidenav #snav opened="true" mode="side">
            <div class="langSet">
                <button mat-button 
                    (click)="changeLanguage()" 
                    class="{{this.lang}}">
                    <mat-icon>language</mat-icon>
                    {{ this.langPrompt }}
                </button>
            </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            Main content here!
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

