
<mat-toolbar *ngIf="!snav.opened">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="toolbar-name">
        <a class="{{this.lang}}"> {{ 'name' | translate}} </a>
    </span>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #snav opened="true" mode="side">
        <p class="sidebar-name {{this.lang}}"> {{ 'name' | translate}} </p>
        <mat-divider></mat-divider>
        <div class="bottom-btns">
            <div class="col">
                <button mat-button 
                    (click)="changeLanguage()" 
                    class="{{this.lang}}">
                    <mat-icon>language</mat-icon>
                    {{ this.langPrompt }}
                </button>
            </div>
            <div class="col align-self-center">
                <button mat-icon-button 
                    (click)="snav.toggle()">
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content">
            Main content here!
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

