mat-sidenav {
    width: 140px;
    background: #0047ab;
    color: white;
    padding: 8px;
    text-align: center;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
    color: #000;
}

.content {
    height: calc(100vh - 15px);
    border-radius: 10px;
    margin: 8px;
    margin-left: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

.bottom-btns{
    bottom: 10px;
    width: 90%;
    position: absolute;
    align-items: center;
}

.toolbar-name{
    text-align: center;
    width: 100%;
}

.sidebar-name{
    margin-top: 16px;
}
