<div class="container-fluid head" id="experience">
    <div class="header">
        <mat-icon class="header-icon">explore</mat-icon>
            {{ 'experienceHead' | translate }}   
    </div>
</div>
<div class="container-fluid detail {{this.lang}}">
    <div class="exp-background">
        <div class="exp-container">
            <div class="row">
                <div class="col-8">
                    <p class="title">KPMG LLP - <b>Data Science Intern</b></p>
                </div>
                <div class="col-4">
                    <p class="period">2022.01 - Present</p>
                </div>
            </div>
            <hr class="exp-divider">
            <div class="row">
                <div class="col">
                    <p class="city">Toronto, ON, Canada</p>
                </div>
            </div>
            <ul class="exp-detail">
                <li>l1</li>
                <li>l2</li>
                <li>l3</li>
              </ul>  
        </div>
    </div>
</div>