.title {
    margin-left: 20px;
    padding-top: 20px;
}

.period {
    margin-right: 20px;
    padding-top: 20px;
    text-align: right;
}

.city {
    margin-right: 20px;
    margin-top: 20px;
    text-align: right;
}

.panel {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    margin-bottom: 4px;
}

.panel-header {
    height: 100px;
}

.panel-title {
    font-size: 16px;
}

.panel-content {
    font-size: 16px;
}