.home{
    background-color: #fff;
    opacity: 0.7;
    background-image: radial-gradient(#87cefa 1px, #fff 1px);
    background-size: 15px 15px;
    min-height: calc(100vh);
    color: black;
    display: inline-block;
    width: 100%;
    position: relative;
}

.typed-text{
    font-weight: 700;
    font-size: 40px;
}