mat-sidenav {
    width: 140px;
    background: #0047ab;
    color: white;
    padding: 8px;
    text-align: center;
    position: fixed;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

mat-toolbar {
    position: fixed;
    z-index: 2;
    height: 70px;
}

mat-icon {
    margin-right: 6px;
}

a {
    text-decoration: none;
    color: #333;
}

.content {
    /* height: calc(100vh - 15px); */
    height: 10000px;
    border-radius: 10px;
    margin: 8px;
    margin-left: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

.bottom-btns{
    bottom: 10px;
    width: 90%;
    position: absolute;
    align-items: center;
}

.toolbar-name{
    text-align: center;
    width: 100%;
}

.sidebar-name{
    margin-top: 16px;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    margin-top: 10px;
}
