<mat-expansion-panel hideToggle class="panel">
    <mat-expansion-panel-header class="panel-header">
    <mat-panel-title class="panel-title">
        Angular Web Portfolio
    </mat-panel-title>
    <div>
        <i class="devicon-angularjs-plain panel-icon"></i>
        <i class="devicon-typescript-plain panel-icon"></i>
        <i class="devicon-html5-plain panel-icon"></i>
        <i class="devicon-github-original panel-icon"></i>
    </div>
    </mat-expansion-panel-header>
    <div class="text-center imgs">
        <img src="/assets/img/personal_website.png" [ngStyle]="imgStyle">
    </div>
    <ul class="panel-detail">
        <li>Developed with Angular using TypeScript, HTML and CSS. Deployed on Github Pages.</li>
        <li>Utilized a translate service. The website can switch the language between English and Chinese.</li>
        <li>Made the sidebars responsive to the width of the window.</li>
    </ul>  
    
</mat-expansion-panel>

