<div class="container-fluid head" id="education">
    <div class="header">
        <mat-icon class="header-icon">school</mat-icon>
            {{ 'educationHead' | translate }}   
    </div>
</div>
<div class="container-fluid detail">
        <p class="about-text" style="padding-top:40px">
            Will add more detail in the future. Fourth Year Undergraduate student from the University of Waterloo. Area of studies includes Computer Science, Data Science, Machine Learning, Classification, Forecasting, Compiler, Data Structure, Algorithms, Operating Systems, File Systems and etc. 
           <b>An unofficial transcript can be found
            <a href="/web-portfolio/assets/pdf/unofficial_transcript.pdf" 
                    target="_blank"
                    style="color: #0047ab;">
                    here
                </a>
                .
            </b>
        </p>
</div>