.about-text {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 5px;
  font-size: 24px;
  display: flex;
}

.project-text {
  color: #0047ab;
  text-decoration: underline;     
  text-decoration-color: #0047ab;  
}