<div class="container-fluid head" id="education">
  <div class="header">
    <mat-icon class="header-icon">school</mat-icon>
    {{ "educationHead" | translate }}
  </div>
</div>
<div class="container-fluid detail" style="padding-bottom: 40px">
  <div *ngFor="let line of 'educationSummary' | translate " style="padding-top: 20px">
    <p class="about-text">
      {{ line }}
    </p>
  </div>
  <p class="about-text" style="padding-top: 20px">
    <b
      >{{ 'transcript' | translate }}
      <a
        href="http://www.joe-zyc.cn/static/transcript/unofficial_transcript.pdf"
        target="_blank"
        style="color: #0047ab"
      >
      {{ 'here' | translate }}
      </a>
    </b>
  </p>
  <p class="about-text" style="padding-top: 20px">
    {{ 'schoolProjectInfo' | translate }}
  </p>
  <div *ngFor="let line of 'schoolProjects' | translate " style="padding-top: 20px">
    <a 
      class="project-text about-text" style="white-space: pre-wrap;"
      href="{{ line.url | translate }}"
      target="_blank"
    >
      {{ line.title | translate }}
    </a>
  </div>
</div>
