/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

.en{
    font-family: roboto,sans-serif;
    font-weight: 400;
}

.zh{
    font-family: "PingFang SC",Arial,"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",simsun,sans-serif;
    font-weight: 500;
}

.head{
    background-color: #F0F0F0;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 11%);
    margin-bottom: 6px;
}

.detail{
    background-color: #fff;
    opacity: 0.7;
    background-image: radial-gradient(#87cefa 1px, #fff 1px);
    background-size: 15px 15px;
    min-height: calc(100vh - 70px);
    color: black;
}

.header{
    font-size: 32px;
    font-weight: 700;
    background-color: inherit;
    margin-left: 25px;
    padding-bottom: 10px;
}

.header-icon{
    font-size: 40px;
    position: relative;
    top: 10px;
    right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}